@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
   /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
  }
}

@font-face {
    font-family: "KampungBudaya";
    src: url('../assets/Font/KambudFixx-Regular.otf') format('opentype');
}
@font-face {
    font-family: "lora";
    src: url('../assets/Font/Lora/static/Lora-SemiBold.ttf') format('opentype');
}
@font-face {
    font-family: "montserrat";
    src: url('../assets/Font/Montserrat/static/Montserrat-SemiBold.ttf') format('opentype');
}
@font-face {
    font-family: "montserrat-light";
    src: url('../assets/Font/Montserrat/static/Montserrat-Light.ttf') format('opentype');
}
